<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<p class="about"> This application was created as a mock Twitter app to learn Ruby on Rails following the Rails tutorial <a href="http://railstutorial.org/help">ebook </a>
  and the screencasts by Michael Hartyl </p>
